# ==========================================
# GitHub
# ==========================================

GITHUB_TOKEN=your_github_personal_access_token

# ==========================================
# GitHub Container Registry
# ==========================================

GHCR_USERNAME=marcel-platform

# ==========================================
# Kubernetes
# ==========================================

MINIKUBE_PROFILE=minikube

# ==========================================
# Platform
# ==========================================

BACKSTAGE_PORT=3000
PLATFORM_API_PORT=8000