# Node
node_modules/
dist/
.cache/
dist/

# Backstage
.yarn/
.pnp.*

# GitHub Runners
runners/

# GitHub Actions Workspace
_work/

# Generated projects by runner
runners/**/_work/

# Java
target/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Kubernetes
*.tmp

# Terraform
.terraform/
*.tfstate

# Generated projects
dev/payment-service-registry-*/

# Backups
dev_backup/
